.register_bg{
    background-color: #eee;
    height: 100%;
}
.register{
    width: 30%;
    margin: 20px auto;
    background-color: #fff;
        padding: 25px;
    box-shadow: 10px 10px 15px #eee;
    min-width: 630px;
}
.register>div:nth-child(1)>span:nth-child(3){
        color: red;
    border-bottom: 3px solid red;
    font-weight: 700;
}
.register>div:nth-child(1){
     font-size: 30px;
    width: 100%;
    text-align: center;
    height: 100px;
    line-height: 74px;
    margin-top: 50px;
}
.register>div:nth-child(1)>span{
    display: inline-block;
    margin: 0 10px;
}
.register>div:nth-child(2)>span:nth-child(1){
    position: absolute;
    left: 130px;
    top: 27px;
}
#xxx{
     position: absolute;
    left: 130px;
    top: 106px; 
}
.register>div:nth-child(2)>span:nth-child(3){
                position: absolute;
    left: 130px;
    top: 196px;
}

.register>div:nth-child(2)>span:nth-child(5){
         position: absolute;
    left: 130px;
    top: 281px;
}
    

.register>div:nth-child(2){
   font-size: 10px;
    width: 100%;
    position: relative;
    margin-top: 50px;

}
.register>div:nth-child(2)>input{
     width: 60%;
    margin: 0px 20%;
    height: 84px;
    background-color: #eee;
    border: 1px solid #9f9f9f;
    padding-left: 50px;
    font-size: 23px;
    border-bottom: none;
    
}
.register>div:nth-child(2)>input:nth-child(8){
   border-bottom: 1px solid #9f9f9f;
    
}
.verify{
        width: 182px;
    height: 66px;
    background-color: green;
    color: #fff;
    font-size: 24px;
    line-height: 66px;
    position: absolute;
    right: 84px;
    bottom: 95px;
    border-radius: 37px;
    text-align: center;
}

.register>div:nth-child(3){
       width: 66%;
    margin: 59px 123px;
    height: 70px;
    line-height: 70px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    background-color: green;
    font-weight: 700;
    letter-spacing: 10px;
    border-radius: 33px;
}
.register>div:nth-child(4){
       width: 100%;
    margin: 52px auto;
    font-size: 22px;
    color: #9f9f9f;
 }
 .register>div:nth-child(4)>div:nth-child(1){
 width: 80%;
    text-align: center;
    line-height: 50px;
    height: 50px;
    margin: 0 auto;
 }
 .register>div:nth-child(4)>div:nth-child(2){
      width: 80%;
    text-align: center;
    line-height: 50px;
    height: 50px;
    margin: 10px auto;
 }
.register>div:nth-child(4)>div:nth-child(2)>span{
 display: inline-block;
 margin: 10px 20px;
 }
.verify_user{
      width: 279px;
    height: 66px;
    border: 1px solid red;
    border-radius: 11px;
    position: absolute;
    right: -169px;
    bottom: 261px;
    font-size: 22px;
    line-height: 66px;
    text-align: center;
}
.verify_user>div{
       border-top: 1px solid red;
    border-left: 1px solid red;
    background-color: #fff;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
    position: absolute;
    left: -7px;
    top: 22px;
}
.slider{
   width: 66%;
    height: 50px;
    position: relative;
    left: 123px;
    bottom: 284px;
}
.slider>div{
    width: 100%;
    height: 50px;
    background-color: #9f9f9f;
}
.slider_left{
        position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    background-color: blue;
    z-index: 20;
}
.target{
        position: absolute;
    width: 50px;
    height: 50px;
    right: 0px;
    top: 0px;
    background-color: green;
}

































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































