.frameT{
	    width: 100%;
    margin: 20px auto;

}
.recom{
	width: 27%;
    height: 477px;
    border: 1px solid #9f9f9f;
    background-color: #eee;
    border-radius: 6px;
    display: inline-block;
    margin: 58px 30px;
    position: relative;
}
.recom:hover{
    box-shadow: 5px 5px 15px #9f9f9f;
}
.recomImg{
	    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: -75px;
    left: 83px;
}
.recomName{
	font-size: 35px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-top: 119px;
    text-align: center;
}
.recomGuanzhu{
	    width: 129px;
    height: 50px;
    background-color: green;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    margin: 10px auto;
}
.recomUpdate{
	    color: #9f9f9f;
    margin: 15px 56px;
}
.recomTitle{
	text-align: center;
    font-size: 26px;
}
.loadMore{
	    width: 40%;
    height: 80px;
    background-color: #9f9f9f;
    text-align: center;
    line-height: 80px;
    margin: 0 auto;
    border-radius: 47px;
    font-size: 25px;
    min-width: 1100px;
}
.guanzhuChange{
      width: 129px;
    height: 50px;
    background-color: red;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    margin: 10px auto;
}
.beforLoad{
    min-width: 1100px;
}